*~
# History files
.Rhistory
.DS_store
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj
# vim backup files
*.swp
/data/
/portalR.db
data_output/
R-3.4.1.pkg
